.productos {
    margin-top: 100px;
}
.galeria {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  text-align: center;
}

.item {
  width: 250px;
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.item p {
  margin-top: 10px;
  font-size: 14px;
  color: #222;
}
